@model BlackSys.Database.Inventario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Inventario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CantidadEntrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadEntrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadSalidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadSalidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto.Descripcion_porducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto.Descripcion_porducto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_Inventartio }) |
    @Html.ActionLink("Back to List", "Index")
</p>
